html, body {
}

body {
	font-size: 76%;
	background-color : #000000;
	margin : 0;
	background-image : url(/site-md/images/bg_page_home.jpg);
	background-repeat : no-repeat;
	background-position : top center;
}

h1, h2, h3, h4, h5 { margin:0 0 0.5em 0; color:#CA0C07; font-weight:bold; }
h1                     { text-transform : lowercase; font-size : 1.2em; color : #CA0C07;}
h2                     { font-size : 2.7em; color : #CA0C07; text-transform : lowercase; line-height : 1.1em;}
h3                     { font-size : 1.5em; color : #ffffff; text-transform : lowercase; line-height : 1.1em; display : block; margin-bottom : 0.2em; }
h4                     { font-size:1.0em; }
h5                     { font-size:0.9em; }

div.ow_block a.externallink {
    background: url(/site-md/images/icon_externallink.gif) bottom right no-repeat;
    padding-right: 13px;
    zoom: 1;
}

div.ow_block a.externallink:link {
    color : #33c3ff;
    text-decoration : none;
}

div.ow_block a.externallink:visited {
    color : #cd84c0;
    text-decoration : none;
}

div.ow_block a.externallink:hover,
div.ow_block a.externallink:active {
    color : #33c3ff;
    text-decoration : underline;
}

div.ow_block a.pdflink {
    background: url(/site-md/images/icon_pdflink.gif) bottom right no-repeat;
    padding-right: 13px;
    zoom: 1;
}

div.ow_block a.pdflink:link {
    color : #33c3ff;
    text-decoration : none;
}

div.ow_block a.pdflink:visited {
    color : #cd84c0;
    text-decoration : none;
}

div.ow_block a.pdflink:hover,
div.ow_block a.pdflink:active {
    color : #33c3ff;
    text-decoration : underline;
}

div.ow_block a.emaillink {
    background: url(/site-md/images/icon_emaillink.gif) bottom right no-repeat;
    padding-right: 14px;
    zoom: 1;
}

div.ow_block a.emaillink:link {
    color : #33c3ff;
    text-decoration : none;
}

div.ow_block a.emaillink:visited {
    color : #cd84c0;
    text-decoration : none;
}

div.ow_block a.emaillink:hover,
div.ow_block a.emaillink:active {
    color : #33c3ff;
    text-decoration : underline;
}

div.mh {
	width : 883px;
	height : 114px;
	margin-left : auto;
	margin-right : auto;
}

table.mh_table {
	width : 883px;
	cellpadding : 0;
	cellspacing : 0;
	border : 0;
	border-collapse : collapse;
}

td.mh_globallinks {
	width : 707px;
	font-size : 1.0em;
	color : #33C3FF;
	font-family : arial, verdana, helvetica, sans-serif;
	padding : 56px 5px 9px 16px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 686px;
} 

html>body td.mh_globallinks {
 	width : 686px;
}

td.mh_globallinks a:link,
td.mh_globallinks a:visited {
	color : #33C3FF;
	text-decoration : none;
	margin-right : 16px;
}

td.mh_globallinks a:hover,
td.mh_globallinks a:active {
	color : #33C3FF;
	text-decoration : underline;
	margin-right : 16px;
}

td.mh_menu {
	width : 707px;
	padding-left : 11px;
	vertical-align : bottom;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 696px;
} 

html>body td.mh_menu {
 	width : 696px;
}

div.mainmenu {
	font-size : 1.5em;
	font-weight : bold;
	font-family : arial, verdana, helvetica, sans-serif;
	text-transform : lowercase;
}

div.mainmenu ul {
	margin:0;
	padding : 0;
	list-style-type:none;
}

div.mainmenu ul li {
	float : left;
}

div.mainmenu ul li a:link,
div.mainmenu ul li a:visited {
	color : #ffffff;
	text-decoration : none;
	padding : 8px 5px 5px 5px;
	display : block;
	margin-right : 12px;
}

div.mainmenu ul li a:hover,
div.mainmenu ul li a:active {
	color : #CA0C07;
	text-decoration : none;
	padding : 8px 5px 5px 5px;
	display : block;
	background-color : #333336;
	margin-right : 12px;
}

div.mainmenu ul li a.current:link,
div.mainmenu ul li a.current:visited, 
div.mainmenu ul li a.current:hover,
div.mainmenu ul li a.current:active {
	color : #CA0C07;
	text-decoration : none;
	padding : 8px 5px 5px 5px;
	display : block;
	background-color : #333336;
	margin-right : 12px;
}

/* Float-clearing ----------------------------------------------------------------- */

div.mainmenu:after {
	content:"."; 
	display:block; 
	position:relative;
	height:0; 
	clear:both; 
	visibility:hidden;
}

div.mainmenu { display:table-cell; }

/* Hides from IE-mac \*/
* html div.mainmenu { height:1%; }
div.mainmenu { display:block; }
/* End hide from IE-mac */

/* -------------------------------------------------------------------------------- */

/* Drop-down menu */
div.md_dd_menu {
		display :none;
		position: absolute;
		z-index: 100;
		width: 123px;
		text-transform : lowercase;
	}
	
div.md_dd_menu ul {
	margin: 0;
	padding :0;
	list-style-type: none;
}
	
div.md_dd_menu li {
}
	
div.md_dd_menu li a {
	display:block;
	margin: 0;
	padding: 5px 5px 5px 13px;
	text-decoration: none;
	font-size : 0.9em;
	font-family : arial, verdana, helvetica, sans-serif;
	color: #fff;
	background-color: #3E3C40;
	width: 123px;
	voice-family: "\"}\""; 
		voice-family:inherit;
	width:105px;
}
	
html>body div.md_dd_menu li a {
	width : 105px;
}
	
div.md_dd_menu li a:hover {
	color: #fff;
	background-color: #CA0C07;
}

div.mainmenu ul li a.md_dd_node_on:link,
div.mainmenu ul li a.md_dd_node_on:visited,
div.mainmenu ul li a.md_dd_node_on:hover,
div.mainmenu ul li a.md_dd_node_on:active  {
	background-color : #3E3C40;
	color: #CA0C07;
	text-decoration:none;
}
/* end of Drop-down menu */

td.mh_logo {
	width : 176px;
	vertical-align : top;
	text-align : right;
}

div.ins_container {
	width : 883px;
	margin-left : auto;
	margin-right : auto;
	/*background-image : url(/site-md/images/bg_ins_container_home.jpg);*/
	background: rgba(49, 47, 50, .9);
	background-repeat : no-repeat;
	background-position : top center;
	/*background-color : #403F44;*/
	padding : 15px 15px 15px 16px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 852px;
} 

html>body div.ins_container {
 	width : 852px;
}

/* home page styles */

div.home_flash {
	width : 852px;
	margin-bottom : 34px;
}

div.home_flash p {
	margin-top : 0;
	margin-bottom : 0;
}

table.home_content_table {
	width : 852px;
	cellpadding : 0;
	cellspacing : 0;
	border : 0;
	border-collapse : collapse;
}

td.home_content_lc {
	width : 511px;
	vertical-align : top;
	font-size : 1.0em;
	color : #ffffff;
	font-family : arial, verdana, helvetica, sans-serif;
	line-height : 1.2em;
	padding-right : 59px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 452px;
} 

html>body td.home_content_lc {
 	width : 452px;
}

td.home_content_rc {
	width : 341px;
	vertical-align : top;
	font-size : 1.0em;
	color : #ffffff;
	font-family : arial, verdana, helvetica, sans-serif;
	line-height : 1.2em;
}

td.home_content_lc p,
td.home_content_rc p {
	margin-top : 0;
	margin-bottom : 1.2em;
}

td.home_content_lc .home_header1,
td.home_content_rc .home_header1 {
	font-size : 2.7em;
	font-weight : bold;
	color : #CA0C07;
	text-transform : lowercase;
	line-height : 1.1em;
}

td.home_content_lc .home_header2,
td.home_content_rc .home_header2 {
	font-size : 1.5em;
	font-weight : bold;
	color : #ffffff;
	text-transform : lowercase;
	line-height : 1.1em;
	display : block;
	margin-bottom : 0.2em;
}

td.home_content_lc div.ow_block ul,
td.home_content_rc div.ow_block ul {
	margin:0;
	padding : 0;
	margin-bottom : 1.2em;
	list-style-type:none;
}

td.home_content_lc div.ow_block ul li,
td.home_content_rc div.ow_block ul li {
	margin-left:0px;
	background-image:url(/site-md/images/bullet.png);
	background-repeat:no-repeat;
	padding-left:13px;
	padding-bottom : 1px;
}

td.home_content_lc div.ow_block a:link,
td.home_content_rc div.ow_block a:link {
	color : #33C3FF;
	text-decoration : none;
}

td.home_content_lc div.ow_block a:visited,
td.home_content_rc div.ow_block a:visited {
	color : #CD84C0;
	text-decoration : none;
}

td.home_content_lc div.ow_block a:hover,
td.home_content_lc div.ow_block a:active,
td.home_content_rc div.ow_block a:hover,
td.home_content_rc div.ow_block a:active {
	color : #33C3FF;
	text-decoration : underline;
}

/* end home page styles */

/* inside page styles */

table.inside_content_table {
	width : 852px;
	cellpadding : 0;
	cellspacing : 0;
	border : 0;
	border-collapse : collapse;
}

td.ins_content_lc {
	width : 281px;
	border-right : 1px solid #000000;
	vertical-align : top;
	background-color : #000000;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 280px;
} 

html>body td.ins_content_lc {
 	width : 280px;
}

div.ins_lc_block1 {
	width : 280px;
	font-size : 1.0em;
	font-family : arial, verdana, helvetica, sans-serif;
	color : #F0112B;
	line-height : 1.2em;
}

div.ins_lc_block2 {
	width : 280px;
	font-size : 1.0em;
	font-family : arial, verdana, helvetica, sans-serif;
	color : #F0112B;
	line-height : 1.2em;
	padding : 0 18px 10px 18px;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 244px;
} 

html>body div.ins_lc_block2 {
 	width : 244px;
}

div.ins_lc_block1 p,
div.ins_lc_block2 p {
	margin-top : 0;
	margin-bottom : 1.2em;
}

div.ins_lc_block1 div.ow_block a:link,
div.ins_lc_block2 div.ow_block a:link {
	color : #33C3FF;
	text-decoration : none;
}

div.ins_lc_block1 div.ow_block a:visited,
div.ins_lc_block2 div.ow_block a:visited {
	color : #CD84C0;
	text-decoration : none;
}

div.ins_lc_block1 div.ow_block a:hover,
div.ins_lc_block1 div.ow_block a:active,
div.ins_lc_block2 div.ow_block a:hover,
div.ins_lc_block2 div.ow_block a:active {
	color : #33C3FF;
	text-decoration : underline;
}

div.ins_lc_block1 div.ow_block ul,
div.ins_lc_block2 div.ow_block ul {
	margin:0;
	padding : 0;
	margin-bottom : 1.2em;
	list-style-type:none;
}

div.ins_lc_block1 div.ow_block ul li,
div.ins_lc_block2 div.ow_block ul li {
	margin-left:0px;
	background-image:url(/site-md/images/bullet.png);
	background-repeat:no-repeat;
	padding-left:13px;
	padding-bottom : 1px;
}

td.ins_content_mc {
	width : 433px;
	vertical-align : top;
	background-color : #ffffff;
}

/* repertoire style */

table.repertoire_content_table {
	width : 852px;
	cellpadding : 0;
	cellspacing : 0;
	border : 0;
	border-collapse : collapse;
}

td.rep_lc {	
	width : 576px;
	background-color : #ffffff;
	vertical-align : top;
}
/* end repetoire style */

/* fullspan style */

table.inside_fullspan_table {
	width : 852px;
	cellpadding : 0;
	cellspacing : 0;
	border : 0;
	border-collapse : collapse;
}

td.fullspan {
	width : 852px;
	background-color : #ffffff;
	vertical-align : top;
}

/* end fullspan style */

div.sitepath {
	width : 433px;
	padding : 11px 18px 17px 11px;
	font-size : 0.9em;
	color : #727272;
	font-family : arial, verdana, helvetica, sans-serif;
	text-transform : lowercase;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 404px;
} 

html>body div.sitepath {
 	width : 404px;
}

/* repertoire style */

div.rep_sitepath {
	width : 576px;
	padding : 11px 21px 14px 17px;
	font-size : 0.9em;
	color : #727272;
	font-family : arial, verdana, helvetica, sans-serif;
	text-transform : lowercase;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 538px;
} 

html>body div.rep_sitepath {
 	width : 538px;
}

/* end repertoire style */

/* fullspan style */

div.fs_sitepath {
	width : 852px;
	padding : 11px 21px 14px 17px;
	font-size : 0.9em;
	color : #727272;
	font-family : arial, verdana, helvetica, sans-serif;
	text-transform : lowercase;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 814px;
} 

html>body div.fs_sitepath {
 	width : 814px;
}

/* end fullspan style */

div#ow_sitemapResults {	text-transform: lowercase; }


div.sitepath a:link,
div.sitepath a:visited,
div.rep_sitepath a:link,
div.rep_sitepath a:visited,
div.fs_sitepath a:link,
div.fs_sitepath a:visited {
	color : #33C3FF;
	text-decoration : none;
}

div.sitepath a:hover,
div.sitepath a:active,
div.rep_sitepath a:hover,
div.rep_sitepath a:active,
div.fs_sitepath a:hover,
div.fs_sitepath a:active {
	color : #33C3FF;
	text-decoration : underline;
}

div.sitepath a.current:link,
div.sitepath a.current:visited,
div.sitepath a.current:hover,
div.sitepath a.current:active,
div.rep_sitepath a.current:link,
div.rep_sitepath a.current:visited,
div.rep_sitepath a.current:hover,
div.rep_sitepath a.current:active,
div.fs_sitepath a.current:link,
div.fs_sitepath a.current:visited,
div.fs_sitepath a.current:hover,
div.fs_sitepath a.current:active {
	color : #727272;
	text-decoration : none;
}

div.sitepath .sitepath_div,
div.rep_sitepath .sitepath_div,
div.fs_sitepath .sitepath_div {
	padding-left : 3px;
	padding-right : 3px;
}

/* repertoire style */

div.rep_cblock1 {
	width : 576px;
	padding : 0 21px 0 17px;
	font-size : 1.0em;
	color : #727272;
	font-family : arial, verdana, helvetica, sans-serif;
	line-height : 1.3em;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 538px;
} 

html>body div.rep_cblock1 {
 	width : 538px;
}

/* end repertoire styles */

div.pagetitle {
	width : 433px;
	padding : 0 18px 12px 11px;
	font-size : 1.9em;
	color : #CA0C07;
	font-weight : bold;
	font-family : arial, verdana, helvetica, sans-serif;
	text-transform : lowercase;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 404px;
} 

html>body div.pagetitle {
 	width : 404px;
}

/* repertoire style */

div.rep_pagetitle {
	width : 576px;
	padding : 0 83px 2px 17px;
	font-size : 1.4em;
	color : #CA0C07;
	font-weight : bold;
	font-family : arial, verdana, helvetica, sans-serif;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 476px;
} 

html>body div.rep_pagetitle {
 	width : 476px;
}

/* end repertoire style */

/* fullspan style */

div.fs_pagetitle {
	width : 852px;
	padding : 0 83px 12px 17px;
	font-size : 1.9em;
	color : #CA0C07;
	font-weight : bold;
	font-family : arial, verdana, helvetica, sans-serif;
	text-transform : lowercase;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 752px;
} 

html>body div.fs_pagetitle {
 	width : 752px;
}

/* end fullspan style */

div.main_cblock1 {
	width : 433px;
	padding : 0 18px 12px 11px;
	font-size : 1.0em;
	color : #727272;
	font-family : arial, verdana, helvetica, sans-serif;
	line-height : 1.3em;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 404px;
} 

html>body div.main_cblock1 {
 	width : 404px;
}

/* repertoire style */

div.rep_cblock2 {
	width : 576px;
	padding : 0 83px 15px 17px;
	font-size : 1.0em;
	color : #727272;
	font-family : arial, verdana, helvetica, sans-serif;
	line-height : 1.3em;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 476px;
} 

html>body div.rep_cblock2 {
 	width : 476px;
}

/* end repertoire style */

/* fullspan style */

div.fs_cblock1 {
	width : 852px;
	padding : 0 83px 15px 17px;
	font-size : 1.0em;
	color : #727272;
	font-family : arial, verdana, helvetica, sans-serif;
	line-height : 1.3em;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 752px;
} 

html>body div.fs_cblock1 {
 	width : 752px;
}

/* end fullspan style */

div.main_cblock1 p,
div.rep_cblock1 p,
div.rep_cblock2 p,
div.fs_cblock1 p {
	margin-top : 0;
	margin-bottom : 1.3em;
}

div.main_cblock1 div.ow_block a:link,
div.rep_cblock1 div.ow_block a:link,
div.rep_cblock2 div.ow_block a:link,
div.fs_cblock1 div.ow_block a:link {
	color : #33C3FF;
	text-decoration : none;
}

div.main_cblock1 div.ow_block a:visited,
div.rep_cblock1 div.ow_block a:visited,
div.rep_cblock2 div.ow_block a:visited,
div.fs_cblock1 div.ow_block a:visited {
	color : #CD84C0;
	text-decoration : none;
}

div.main_cblock1 div.ow_block a:hover,
div.main_cblock1 div.ow_block a:active,
div.rep_cblock1 div.ow_block a:hover,
div.rep_cblock1 div.ow_block a:active,
div.rep_cblock2 div.ow_block a:hover,
div.rep_cblock2 div.ow_block a:active,
div.fs_cblock1 div.ow_block a:hover,
div.fs_cblock1 div.ow_block a:active {
	color : #33C3FF;
	text-decoration : underline;
}

div.main_cblock1 div.ow_block ul,
div.rep_cblock1 div.ow_block ul,
div.rep_cblock2 div.ow_block ul,
div.fs_cblock1 div.ow_block ul {
	margin:0;
	padding : 0;
	margin-bottom : 1.2em;
	list-style-type:none;
}

div.main_cblock1 div.ow_block ul li,
div.rep_cblock1 div.ow_block ul li,
div.rep_cblock2 div.ow_block ul li,
div.fs_cblock1 div.ow_block ul li {
	margin-left:0px;
	background-image:url(/site-md/images/bullet2.png);
	background-repeat:no-repeat;
	padding-left:13px;
	padding-bottom : 1px;
} 

div.main_cblock1 .ins_header1,
div.fs_cblock1 .ins_header1 {
	text-transform : lowercase;
	font-size : 1.2em;
	font-weight : bold;
	color : #CA0C07;
}

div.rep_cblock2 .repertoire_main_credits {
	font-size : 1.0em;
	color : #000000;
	font-weight : bold;
}

/* repertoire style */

td.rep_mc {
	background-color : #EEEAEB;
	vertical-align : top;
	width : 138px;
}

div.rep_mc_block1 {
	width : 138px;
	height : 298px;
	padding : 99px 16px 16px 9px;
	font-size : 1.0em;
	font-family : arial, verdana, helvetica, sans-serif;
	color : #000000;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 113px;
	height : 183px;
} 

html>body div.rep_mc_block1 {
 	width : 113px;
	height : 183px;
}

div.rep_mc_block1 p {
	margin-top : 0;
	margin-bottom : 0;
}

div.rep_mc_block2 {
	width : 138px;
	padding : 16px 9px 16px 9px;
	font-size : 1.0em;
	font-family : arial, verdana, helvetica, sans-serif;
	color : #727272;
	line-height : 1.3em;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 120px;
} 

html>body div.rep_mc_block2 {
 	width : 120px;
}

div.rep_mc_block2 p {
	margin-top : 0;
	margin-bottom : 1.3em;
}

div.rep_mc_block2 div.ow_block a:link {
	color : #33C3FF;
	text-decoration : none;
}

div.rep_mc_block2 div.ow_block a:visited {
	color : #CD84C0;
	text-decoration : none;
}

div.rep_mc_block2 div.ow_block a:hover,
div.rep_mc_block2 div.ow_block a:active {
	color : #33C3FF;
	text-decoration : underline;
}

div.rep_mc_block2 .repertoire_side_credits {
	color : #000000;
}

/* end repertoire style */

td.ins_content_rc {
	width : 138px;
	border-left : 1px solid #000000;
	vertical-align : top;
	background-color : #CA0C07;
	background-image : url(/site-md/images/bg_ins_rc.jpg);
	background-repeat : no-repeat;
	background-position : bottom left;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 137px;
} 

html>body td.ins_content_rc {
 	width : 137px;
}

div.ins_menu_header {
	width : 137px;
	padding : 41px 2px 14px 10px;
	font-size : 1.9em;
	font-family : arial, verdana, helvetica, sans-serif;
	color : #ffffff;
	font-weight : bold;
	text-transform : lowercase;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 125px;
} 

html>body div.ins_menu_header {
 	width : 125px;
}

div.ins_menu {
	width : 137px;
	font-size : 1.2em;
	font-family : arial, verdana, helvetica, sans-serif;
	font-weight : bold;
	color : #FFFFFF;
	margin-bottom : 259px;
}

div.ins_menu ul {
	margin : 0;
	padding : 0;
	list-style-type:none;
}

div.ins_menu ul li {
	color : #ffffff;
	text-decoration : none;
	text-transform: lowercase;
	display : inline;
}

div.ins_menu ul li a:link,
div.ins_menu ul li a:visited {
	color : #ffffff;
	text-decoration : none;
	padding : 4px 10px 3px 10px;
	display : block;
}

div.ins_menu ul li a:hover,
div.ins_menu ul li a:active {
	color : #ffffff;
	text-decoration : none;
	padding : 4px 10px 3px 10px;
	display : block;
	background-color : #574F51;
}

div.ins_menu ul li a.current:link,
div.ins_menu ul li a.current:visited,
div.ins_menu ul li a.current:hover,
div.ins_menu ul li a.current:active {
	color : #ffffff;
	text-decoration : none;
	padding : 4px 10px 3px 10px;
	display : block;
	background-color : #574F51;
}

div.ins_menu ul li.submenu {
	font-size : 0.8em;
	font-weight : normal;
}

div.ins_menu ul li.submenu a:link,
div.ins_menu ul li.submenu a:visited {
	padding : 2px 10px 3px 15px;
}

div.ins_menu ul li.submenu a:hover,
div.ins_menu ul li.submenu a:active {
	padding : 2px 10px 3px 15px;
	background-color : #CA0C07;
	text-decoration : underline;
}

div.ins_menu ul li.submenu a.current:link,
div.ins_menu ul li.submenu a.current:visited,
div.ins_menu ul li.submenu a.current:hover,
div.ins_menu ul li.submenu a.current:active {
	padding : 2px 10px 3px 15px;
	background-color : #574F51;
}

/* end inside page styles */

div.footer {
	width : 852px;
	padding-top : 16px;
	padding-bottom : 4px;
	margin-top : 48px;
	background-image : url(/site-md/images/hrule_footer.png);
	background-repeat : no-repeat;
	background-position : top left;
}

table.footer_table {
	width : 852px;
	cellpadding : 0;
	cellspacing : 0;
	border : 0;
	border-collapse : collapse;
}

td.footer_lc {
	width : 526px;
	font-size : 0.9em;
	color : #9A9A9A;
	font-family : arial, verdana, helvetica, sans-serif;
}

td.footer_rc {
	width : 326px;
	font-size : 0.9em;
	color : #9A9A9A;
	font-family : arial, verdana, helvetica, sans-serif;
	text-align : right;
}

td.footer_lc p,
td.footer_rc p {
	margin-top : 0;
	margin-bottom : 0;
}

td.footer_lc div.ow_block a:link,
td.footer_lc div.ow_block a:visited,
td.footer_rc div.ow_block a:link,
td.footer_rc div.ow_block a:visited {
	color : #33C3FF;
	text-decoration : none;
}

td.footer_lc div.ow_block a:hover,
td.footer_lc div.ow_block a:active,
td.footer_rc div.ow_block a:hover,
td.footer_rc div.ow_block a:active {
	color : #33C3FF;
	text-decoration : underline;
}

td.footer_lc div.ow_block .footer_div {
	padding-left : 6px;
	padding-right : 6px;
}

div.photocredit {
	width : 883px;
	margin-left : auto;
	margin-right : auto;
	text-align : right;
	padding : 6px 15px 6px 0;
	font-size : 0.9em;
	font-family : arial, verdana, helvetica, sans-serif;
	color : #7F7C82;
	voice-family: "\"}\""; 
  	voice-family:inherit;
	width : 868px;
} 

html>body div.photocredit {
 	width : 868px;
}

/* PRINT STYLES */
body.ow_printing {
  background-image: none;
	background-color:#fff;
	text-align:left;
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 76%;
	margin: 15px 15px;
}

body.ow_printing div#printlogo {
	border-bottom:1px #aaa solid;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

body.ow_printing h1 {
	font-weight : bold;
	font-size : 2.9em;
	margin-bottom: 11px;
	padding-bottom : 5px;
}

body.ow_printing .home_header1 {
	font-size : 2.7em;
	font-weight : bold;
	text-transform : lowercase;
	line-height : 1.1em;
}

body.ow_printing .ins_header1 {
	font-size : 1.2em;
	font-weight : bold;
}

body.ow_printing div#printfooter {
	font-size:0.8em;
	padding-top:5px;
	margin-top:15px;
	border-top:1px #aaa solid;
	text-align : left;
}

body.ow_printing div#printfooter a:link,
body.ow_printing div#printfooter a:visited {
	margin-right : 22px;
}

body.ow_printing div#printfooter a:hover,
body.ow_printing div#printfooter a:active {
	margin-right : 22px;
}
/* END PRINT STYLES */

/**** APPLICATION STYLES 
	 sm_ = subscription manager
****/

div.main_cblock1 div#sm_formtitle h2 {
	display: none;
	/*color: #CA0C07;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: lowercase;*/
}

div#sm_form div#sm_formdetails label {
	display: block;
	margin-bottom: 1px;
}

div#sm_form div#sm_formdetails input {
	display: block;
	font-family: arial,verdana,helvetica,sans-serif;
	margin-bottom: 6px;
	width: 200px;
}

input.sm_submitbtn {
	font: normal 11px verdana, sans-serif;
	padding: 5px 9px 5px 9px;
	margin: 1.5em 0 0 0;
}
* html input.sm_submitbtn { 
	padding: 5px 3px 5px 3px; 
}

div#sm_title {
	margin-bottom: 10px
}

div#sm_form div#sm_action label.sm_rad {
	display: inline;
}

div#sm_form div#sm_action input.sm_rad {
	vertical-align: middle;
	width: auto;
	display: inline;
} 

/* Custom forms styles */
div.ow_formblock {}
div.ow_formblock div.ow_formtitle {}

div.ow_formblock div.ow_forminstructions {
    margin:12px 0 12px 0;
    padding-bottom:4px;
    border-bottom:1px .ddd solid;
    font-size:10px;
}
div.ow_formblock div.ow_form { }

div.ow_formblock span.required,
.isl_req {
    color:#f30;
    font-size:10px;
    line-height:normal;
}
div.ow_formblock .ow_formfld label span.required, .isl_req { margin-left:4px; font-weight:bold; }

div.ow_form div.ow_formfld label { font-weight:bold; }

div.ow_form div.ow_formfld {
    zoom:1;
    margin-bottom:1.5em;
    width:auto;
}
div.ow_form div.ow_formfld:after { content:"."; display:block; position:relative; height:0; clear:both; visibility:hidden; }

div.ow_form .ow_formfld div.ow_formfld_box {}

div.ow_form .ow_formfld.textbox input,
div.ow_form .ow_formfld.email input,
div.ow_form .ow_formfld.webaddress input,
div.ow_form .ow_formfld.phone input,
div.ow_form .ow_formfld.numerictextbox input {
    font:normal 12px verdana, sans-serif;
    padding:3px;
    border:1px .dedede solid;
}

div.ow_form .ow_formfld.listbox select,
div.ow_form .ow_formfld.dropdownlist select {
    font:normal 12px verdana, sans-serif;
}

div.ow_form .ow_formfld.listbox select { border:1px .dedede solid; }

div.ow_form .ow_formfld.multilinetextbox textarea {
    font:normal 12px verdana, sans-serif;
    padding:3px;
    border:1px .dedede solid;
}

div.ow_form .ow_formfld.checkbox label,
div.ow_form .ow_formfld.checkboxlist td label,
div.ow_form .ow_formfld.radiobuttonlist td label {
    font-weight:normal;
}
div.ow_form .ow_formfld.checkboxlist td.ow_form_col1 label,
div.ow_form .ow_formfld.radiobuttonlist td.ow_form_col1 label {
    font-weight:bold;
}

div.ow_form .ow_formfld.checkboxlist table,
div.ow_form .ow_formfld.radiobuttonlist table {
    margin:3px 0 0 0;
    border-collapse:collapse;
}

div.ow_form .ow_formfld.checkboxlist table td,
div.ow_form .ow_formfld.radiobuttonlist table td {
    padding:0;
    line-height:17px !important;
}

div.ow_form .ow_formfld.checkbox input,
div.ow_form .ow_formfld.checkboxlist td input,
div.ow_form .ow_formfld.radiobuttonlist td input {
    vertical-align:bottom !important;
    margin:0 4px 2px 0 !important;
    padding:0 !important;
    width:13px; /* for IE7 */
    height:13px; /* for IE7 */
}

div.ow_form div.ow_formfld.captcha p {
    margin-top:0;
    margin-bottom:0;
}

div.ow_form .ow_formfld p.ow_formfld_tip {
    color:#998;
    margin:2px 0 0 0;
    font-size:10px;
}

div.ow_form p.ow_submit {
    margin:1em 0 2.5em 0;
}

div.ow_form p.ow_submit input.ow_submitbtn {
    font:normal 11px verdana, sans-serif;
    padding:5px 9px 5px 9px;
    margin:0;
    cursor:pointer;
}

* html div.ow_form p.ow_submit input.ow_submitbtn,
*+html div.ow_form p.ow_submit input.ow_submitbtn { padding:5px 3px 5px 3px; }

div.ow_form p.ow_submit input.ow_submitimg {
    display:none;
}

.ow_app label span.help,
div.ow_form div.ow_formfld span.help {
    color:#999;
    font-weight:normal;
    margin-left:10px;
    margin-right:4px;
/*    float:right; */
}

#ow_app_help,
div.ow_form .ow_form_helpwindow {
    position:absolute;
    display:none;
    border:.999 solid 1px;
    padding:0;    
    z-index:500;
    height:auto;
    width:250px;
    background-color:#fff;
}

#ow_app_help #ow_app_helpwindow_inner,
div.ow_form .ow_form_helpwindow .ow_form_helpwindow_inner {
    margin:10px;
}

#ow_app_help_close,
div.ow_form .ow_form_help_close {
    display:block;
    float:right;
/*    background-color:#eee; */
    background-color:#f0f5fb;
    margin:2px;
    border:1px .000 solid;
    font-weight:bold;
    font-size:12px;
    vertical-align:middle;
    text-align:center;
}

#ow_app_help_close a:link,
#ow_app_help_close a:visited,
#ow_app_help_close a:hover,
#ow_app_help_close a:active,
div.ow_form .ow_form_help_close a:link,
div.ow_form .ow_form_help_close a:visited,
div.ow_form .ow_form_help_close a:hover,
div.ow_form .ow_form_help_close a:active {
    display:block;
    width:14px;
    height:14px;
    overflow:hidden;
    color:#fff;
    background-color:#333;
}

#ow_app_help_close a:hover,
#ow_app_help_close a:active,
div.ow_form .ow_form_help_close a:hover,
div.ow_form .ow_form_help_close a:active { background-color:#369; background-image:url(overlay_close_on.gif); }

/*

div.ow_form div.ow_formfld div.ow_formfld_box {
    border:1px .444 solid;
    padding:1px;
}

div.ow_form div.ow_formfld div.ow_formfld_contents {
    background-color:#666;
    padding:10px;
}*/

table.ow_formfld_tbl td {
    vertical-align:top;
    padding-top:7px;
}

table.ow_formfld_tbl td label {
    font-weight:bold;
    margin-right:10px;
    color:#444;
}

table.ow_formfld_tbl td.ow_form_col2 label {
    font-weight:normal; 
    margin-right:5px;
    margin-left:2px;
}

* html table.ow_formfld_tbl td.ow_form_col2 label { margin-left:0; }

div.ow_form tbody.ow_formfld p.ow_formfld_tip {
    color:#998;
    margin:2px 0 0 0;
    font-size:10px;
}

div.ow_form tbody.ow_formfld span.help {
    color:#999;
    font-weight:normal;
    margin-left:4px;
    margin-right:4px;
/*    float:right; */
}

/* invalid fields */
div.ow_form .ow_formfld.invalid { 
    background-color:#fae6e7; 
    margin-bottom:1px;
    padding:3px;
}
/* End - Custom form styles */ 

/* Search suggestion autocomplete - maxheight */
.ui-autocomplete {
    max-height: 10em;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index: 500;	/* set z-index to show above other page content */
}

/* IE 6 doesn't support max-height
  we use height instead, but this forces the menu to always be this tall */
* html .ui-autocomplete { height: 10em; }

/* ---------- Float-clearing ---------- */
.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.clearboth {clear:both;}

/* ---------- END Float-clearing ------- */

/* ---------- Homepage Slider ---------- */

.flexslider {
	width: 852px;
	margin: -12px 0 34px 0;
}

.flexslider .slides li,
.flex-direction-nav {
	list-style: none;
}

.flexslider .slides {
	display: block;
	height: 305px;
	width: 710px;
	background-size: 100%;
	margin-left: 32px;
}

div.flexslider .flex-control-nav.flex-control-paging {
	display: none;
}

.flex-next {
	right: -92.4%;
	margin-top: -306px;
	moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.flex-prev {
	left: -5%;
	margin-top: -328px;
}

.flex-direction-nav a {
	display: block;
	width: 65px;
	height: 305px;
	position: relative;
	top: 20.5%;
	z-index: 10;
	overflow: hidden;
	opacity: 1;
	cursor: pointer;
	text-indent: -9999px;
	background-image: url(../images/Mocean-Dance-arrows.png);
	webkit-transition: all 0.3s ease;
	-webkit-transition-delay: 0;
	-moz-transition: all 0.3s ease 0;
	-o-transition: all 0.3s ease 0;
	transition: all 0.3s ease 0;
}

.flex-direction-nav a:hover {
	background-image: url(../images/Mocean-Dance-arrows-active.png);
}



/* Image Gallery overrides */
#container .carousel.ig_gallery .ig_carousel ul li .caption .ig_image_title {
	font-size: 15px; 
	font-size: 1.5rem; 
	font-family: arial, verdana, helvetica, sans-serif;
	padding: 0.3em;
	text-transform:lowercase;
}
#container .carousel.ig_gallery .ig_carousel .flex-direction-nav a.flex-next {
	background-position: 0 0;
}
#container .filmstrip.ig_gallery .ig_slide_header {
	padding: 0.5em;
}
#container .filmstrip.ig_gallery h3 {
	color: #727272;
}
div.ppt {
	font-family: arial, verdana, helvetica, sans-serif;
	text-transform:lowercase;
}