body {
	background-image : url(/site-md/images/bg_page_repertoire.jpg);
}

div.ins_container {
	background-image : url(/site-md/images/bg_ins_container_repertoire.jpg);
}

td.ins_content_rc {
	background-color : #2D282A;
	background-image : url(/site-md/images/bg_rep_rc.jpg);
}

div.ins_menu ul li.submenu a:hover,
div.ins_menu ul li.submenu a:active {
	background-color : #2D282A;
}

div.footer {
	margin-top : 6px;
}